/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
    div.container {
        padding-top: 60px; }
        
    /* Doc nav */
    nav { 
        position: fixed;
        width: 160px; }
    nav ul { 
        float: right;  }
    nav ul li {
        text-align: right;
        display: block;
        margin-bottom: 10px; }
    nav ul li a, 
    nav ul li a:visited, 
    nav ul li a:active  {
        font-size: 14px;
        color: #555;
        text-decoration: none;
        font-weight: bold;
        padding: 3px 8px 4px;
        position: relative;
        right: -8px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px; }
    nav ul li a:hover, 
    nav ul li a:focus {
        color: #222; }
    header h1 {
        font-size: 52px;
        line-height: 61px;
        letter-spacing: -1px;
        font-weight: normal;
        font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif; }
    hr.large { 
        border: none;
        height: 8px; 
        background: #ebebeb; 
        margin: 50px 0; }
    div.doc-section {
        margin: 30px 0; }

    #whatAndWhy .row { 
        padding: 30px 0 0; }

    #typography blockquote {
        margin-top: 20px; }
        
    .hidden-code a {
        font-size: 12px;
        color: #999; }
    .hidden-code>div {
        display: none; }


    /* Grid */
    #grid .column,
    #grid .columns { 
        background: #ddd; 
        height: 25px;
        line-height: 25px;
        margin-bottom: 10px;
        text-align: center;
        text-transform: uppercase; 
        color: #555; 
        font-size: 12px; 
        font-weight: bold;
        -moz-border-radius: 2px;
         -webkit-border-radius: 2px;
         border-radius: 2px; }
    #grid .column:hover,
    #grid .columns:hover { 
        background: #bbb; 
        color: #333; }
    #grid .example-grid { overflow: hidden; }
    
    .post-button-note,
    .post-button-note a { 
        font-size: 11px; 
        color: #999; }
    


/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
